{% extends "base.html" %}

{% block titulo %}
Catálogo - Tienda Online
{% endblock %}


{% block content %}

<h1 class="mb-4">
    Catálogo de Productos
</h1>


<div class="row">

    {% for producto in productos %}

    <div class="col-md-4 mb-4">

        <div class="card h-100">

            <div class="card-body">

                <span class="badge bg-secondary mb-2">
                    {{ producto.tipo }}
                </span>

                <h5 class="card-title">
                    {{ producto.nombre }}
                </h5>

                <p class="card-text text-muted">
                    Código: {{ producto.codigo }}
                </p>

                <p class="card-text fs-4 fw-bold">

                    ${{ "%.2f"|format(producto.precio_final()) }}

                </p>

                <p>
                    Stock:
                    {{ producto.stock }}
                </p>

                <a
                    href="{{ url_for('detalle_producto',
                                     producto_id=producto.id) }}"
                    class="btn btn-primary">

                    Ver detalle

                </a>

            </div>

        </div>

    </div>

    {% else %}

    <p class="text-center text-muted">
        No hay productos disponibles todavía.
    </p>

    {% endfor %}

</div>

{% endblock %}